.contain-nav{
  text-align: center;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  margin:0;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}
.space-nav{
  width: 1px;
}
.list-item {
  list-style-type: none;
}
span {
  border : 4px solid;
  width : 18%;
  margin-bottom: 5%;
  text-align: center;
  color: white;
}
span li {
  color: cadetblue;
  list-style: none;
  width: 52%;
  padding: 4px 13px;
}
#product ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
.line{
  background-color: lightgrey;
  height: 1%;
  width: 55%;
  margin: auto;
}
.img-style {
  height: 20vh;
}
#panier{
  text-align: center;
  width: 13%;
  background-color: lightgray;
  color: white;
  margin: auto;
  border: 0.2em solid cadetblue;
}
#panier h4{
  color:cadetblue;
  font-weight: 900;
}
#panier p {
  color: brown;
  font-weight: 900;
}
.btn-product{
  border:none;
  background-color: cadetblue;
  color: white;
  border-radius:50%;
  padding: 4% 7%;
}
.btn-product:hover {
  background-color: white;
  color: cadetblue;
  border: 1px solid cadetblue;
}
.contain-nav-list{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px 0;
  background-color: lightgrey;
  color:white;
  font-weight: 900;
}
.nav-list {
  list-style-type: none;
}
.fas {
  padding-top: 25px;
}
.list-item-nav{
  list-style: none;
  display: flex;
}
.count-panier{
  background-color: red;
  height: 6vh;
  padding: 2px 6px;
  border-radius: 65%;
  position: absolute;
  margin-left: 28px;
}